{% extends "base.html" %}

{% block content%}
<h3>Agendar Consulta</h3>
<form method="POST" enctype="multipart/form-data">


    {% csrf_token %}

    
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados da Consulta</th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <th width="600px">{{formAgenda.as_p}}</th>
            <th style="position: absolute">
                <input class="btn btn-primary" type="submit" value="Realizar Agendamento">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/consultarAgendamento" class="btn btn-primary">Ver Agendamentos</a>
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
                {% if messages %}
                {% for message in messages %}
                <div class="mensagem" style = 'margin-top:35px'>
                    <strong><font color="red">{{message}}</font></strong>
                </div>
                {% endfor %}
                {% endif %}
            </th>
        </tr>
    </table>
</form>
<script>
    const tipo_agendamento = document.querySelector("#id_tipo_agendamento")
    tipo_agendamento.value = 'Exame'
</script>

{% endblock %}