{% extends "base.html" %}

{% block content%}

{% ifequal request.path '/agendarConsultas/'  %}
<h3>AGENDAR CONSULTA</h3>
{% endifequal  %}
{% ifequal request.path '/agendarExames/'  %}
<h3>AGENDAR EXAME</h3>
{% endifequal  %}
{% ifequal request.path '/agendarCirurgias/'  %}
<h3>AGENDAR CIRURGIA</h3>
{% endifequal  %}


<form method="POST" enctype="multipart/form-data">


    {% csrf_token %}


    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados da Consulta</th>
            <th></th>
        </tr>
        </thead>
    </table>
    <table class="procedimento">
        {% for field in formAgenda %}
        <tr>
            <th>
                {{ field.label_tag }}
            </th>
            <th>
                {{ field }}
            </th>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </tr>
        {% endfor %}

        <tr>
            <th style="position: absolute">
                <br>
                <input class="btn btn-primary" type="submit" value="Realizar Agendamento">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/consultarAgendamento" class="btn btn-primary">Ver Agendamentos</a>
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
                {% if messages %}
                {% for message in messages %}
                <div class="mensagem" style='margin-top:35px'>
                    <strong><font color="red">{{message}}</font></strong>
                </div>
                {% endfor %}
                {% endif %}
            </th>
        </tr>
    </table>
</form>
{% ifequal request.path '/agendarConsultas/'  %}
<script>
    const tipo_agendamento = document.querySelector("#id_tipo_agendamento")
    tipo_agendamento.value = 'Consulta'
</script>
{% endifequal  %}

{% ifequal request.path '/agendarExames/'  %}
<script>
        const tipo_agendamento = document.querySelector("#id_tipo_agendamento")
        tipo_agendamento.value = 'Exame'
</script>
{% endifequal  %}

{% ifequal request.path '/agendarCirurgias/'  %}
<script>
        const tipo_agendamento = document.querySelector("#id_tipo_agendamento")
        tipo_agendamento.value = 'Cirurgia'
</script>
{% endifequal  %}

{% endblock %}