{% extends "base.html" %}

{% block content %}
<h2>Cadastro de Agente de Secretaria</h2>
<hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table width="600px" style = 'border-collapse: separate; border-spacing: 10px;'>
            <tr style = 'font-size:120%;'><th>Dados</th><th>Endereço:</th></tr>
            <tr><th>{{formS.as_p}}</th><th style="position: absolute;">{{formE.as_p}}</th></tr>
            
        </table>
        <div style="text-align: right;"><a href="/admsistema" class="btn btn-primary">Voltar</a>
            <input  class="btn btn-primary" type="submit" value="Cadastrar"> </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="mensagem">
                <strong><font color="red">{{message}}</font></strong>
            </div>
        {% endfor%}
    {% endif %}

{% endblock %}