{% extends "base.html" %}
{% block content %}
<h3>CADASTRO DE AGENTE DE SAÚDE</h3>
<form method="POST" enctype="multipart/form-data"  action="{% if db2 %}/update/{{db2.cpf}}/{% comment %} {% else %}/create/{% endcomment %}{% endif %}">
    {% csrf_token %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados Pessoais</th>
            <th>Endereço</th>
        </tr>
        </thead>
        <tr>
            <th width="600px">{{saude.as_p}}</th>
            <th style="position: absolute">{{formE.as_p}}
                <input class="btn btn-primary" type="submit" value="Cadastrar">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
                {% if messages %}
                {% for message in messages %}
                <div class="mensagem" style = 'margin-top:35px'>
                    <strong><font color="red">{{message}}</font></strong>
                </div>
                {% endfor%}
                {% endif %}
            </th>
        </tr>
    </table>
</form>



{% endblock%}