{% extends "base.html" %}

{% block content %}
<h3>CADASTRO DE ADMINISTRADOR DO SISTEMA</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados Pessoais</th>
            <th>Endereço</th>
        </tr>
        </thead>
        <tr>
            <th width="600px">{{adm.as_p}}</th>
            <th style="position: absolute">{{formE.as_p}}
                <input class="btn btn-primary" type="submit" value="Cadastrar">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
                {% if messages %}
                {% for message in messages %}
                <div class="mensagem">
                    <strong><font color="red">{{message}}</font></strong>
                    </div>
            </th>
        </tr>
    </table>
</form>

{% endfor%}
{% endif %}

{% endblock%}