{% extends "base.html" %}

{% block content%}

<form method="POST" enctype="multipart/form-data">
<table id="formcadastro">
    <tr><td>Dados</td><td>Endereço</td></tr>
    {% csrf_token %}
    <tr><td>{{form.as_p}}</td><td>{{formAdm.as_p}}</td> <td>{{formEndereco.as_p}}</td></tr>
</table>

    <input type="submit" value="Submit">
</form>

{% if messages %}
  {% for message in messages %}
  <div class="mensagem">
    <strong><font color="red">{{message}}</font></strong>
  </div>
  {% endfor %}
  {% endif %}

{% endblock %}

