{% extends "base.html" %}
{% block content %}
{% if head == 1 %}
<h3>CADASTRO DE CARGO</h3>
{% elif head == 2 %}
<h3>CADASTRO DE TIPOS DE PROCEDIMENTOS</h3>
{% elif head == 3 %}
<h3>CADASTRO DE ENDEREÇOS</h3>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados</th>
        </tr>
        </thead>
    </table>
    <table class="procedimento">

        {% if head == 1 %}
        {% for field in formG %}
        <tr>
            <th>
                {{ field.label_tag }}
            </th>
            <th>
                {{ field }}
            </th>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    <table class="procedimento">
        {% if head == 2 %}
        {% for field in formTp %}
        <tr>
            <th>
                {{ field.label_tag }}
            </th>
            <th>
                {{ field }}
            </th>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    <table class="procedimento">
        {% if head == 3 %}
        {% for field in formEn %}
        <tr>
            <th>
                {{ field.label_tag }}
            </th>
            <th>
                {{ field }}
            </th>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <table>
        <tr>
            <th>
                <br>
                <input class="btn btn-primary" type="submit" value="Cadastrar">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
            </th>
        </tr>
    </table>
</form>
{% if messages %}
{% for message in messages %}
<div class="mensagem">
    <strong><font color="red">{{message}}</font></strong>
</div>
{% endfor%}
{% endif %}

{% endblock%}