{% extends "base.html" %}

{% block content %}
<h3>Cronograma de Serviços</h3>
<h5>Agente de Saude: {{user.first_name}}</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tipo de Procedimento</th>
            <th scope="col">Procedimento</th>
            <th scope="col">Paciente</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        {% for dbs in db2 %}
        {% if not dbs.confirmado %}
            <tr>  
                    <th><a href="/realProcedimento/{{dbs.pk_agendamento}}"> {{dbs.tipo_agendamento}}</th>
                    <th><a href="/realProcedimento/{{dbs.pk_agendamento}}"> {{dbs.fk_tipo_procedimento}} </th>
                    <th><a href="/realProcedimento/{{dbs.pk_agendamento}}"> {{dbs.fk_paciente}} </th>
                    <th><a href="/realProcedimento/{{dbs.pk_agendamento}}"> {{dbs.data_agendamento | date:"d-m-Y"}} </th>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock%}