{% extends "base.html" %}

{% block content %}

  <div class="content">
      <h1 id="Titulo">CENTRO MÉDICO UFS 
        </h1>
        <div id="Menu">
            <button onclick="logOut()"> sair </button>
          </div>
          <nav> Tela Inicial <hr> </nav>
          <div id="Option">
           <h3>Principais serviços</h3>
           <hr>
           <br>
           <a href="/admsistema"<h4>IrparaAdmSitema <br></h4></a>
           <br>
            <button id="Consulta">Agendar Consulta</button>
            <button id="Exame">Agendar Exame</button>
            <button id="Cirurgia">Agendar Cirurgia</button>
            <button id = "Agendamento">Consultar Agendamento</button>
            <button id= "cronograma">Exibir Cronograma</button>
            <button id="Pagamento">Realizar Pagamento</button>
          </div>
      </div>
    {% endblock %}
