<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CENTRO MÉDICO UFS</title>
    <link href="{% static 'login.css'%}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content">
    <h1 id="Titulo">CENTRO MÉDICO UFS 
      </h1>
      <div id="Menu">  
        </div>
        <main>
          <div class="form-wrapper" id="text-field">
            <h2>Entrar</h2>
            <input type="text" id="usuario" name="usuario" placeholder="Usuário">
            <input type="password" id="senha" name="senha" placeholder="Senha">
            <button> Login </button>
    </main>
    </div>

  </body>
</html>