{% extends "base.html" %}
     {% block content %}
      <div id="Menu">
        </div>
        <main>
          <div class="form-wrapper" id="text-field">
            <form method="POST" class="form-wrapper" id="text-field" action="">
              {% csrf_token %}
              <h2>Entrar</h2>
              <input type="text" id="usuario" name="usuario" placeholder="email">
              <input type="password" id="senha" name="senha" placeholder="senha">
              <button type="submit" class="btn btn-primary">Login</button>
            </form>

            {% if messages %}
              {% for message in messages %}
                  <div class="mensagem">
                      <strong><font color="red">{{message}}</font></strong>
                  </div>
              {% endfor%}
            {% endif %}
    </main>
{% endblock %}
