{% extends "base.html" %}

{% block content%}
<h3>ADMINISTRADOR DO SISTEMA</h3>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Pessoas</th>
        <th>Agendamentos</th>
        <th>Diversos</th>
    </tr>
    </thead>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR ADMINISTRADOR</h5>
                    <p class="card-text">Cadastar Administrador do Sistema</p>
                    <a href="/cadAdmSistema" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR CONSULTAS</h5>
                    <p class="card-text">Agendamento de consulta em diversas especialidades</p>
                    <a href="#" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR CARGOS</h5>
                    <p class="card-text">Cadastar cargos no disponíveis no Centro Médico</p>
                    <a href="/cadastroCargo" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR AGENTE DE SAÚDE</h5>
                    <p class="card-text">Cadastar Agentes de Saúde</p>
                    <a href="/cadastrarAgntSaude" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR EXAMES</h5>
                    <p class="card-text">Agendamento de exames</p>
                    <a href="#" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR TIPOS DE PROCEDIMENTO</h5>
                    <p class="card-text">Serviços oferecidos entre exames, consultas e cirurgias</p>
                    <a href="/cadastroTProced" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR AGENTE SECRETARIA</h5>
                    <p class="card-text">Cadastar Agentes de Secretaria</p>
                    <a href="/cadastrarAgntSecretaria" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR CIRURGIA</h5>
                    <p class="card-text">Agendamento de cirurgias</p>
                    <a href="#" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">EXIBIR CRONOGRAMA</h5>
                    <p class="card-text">Exibe cronograma de serviços</p>
                    <a href="#" class="btn btn-primary">Exibir</a>
                </div>
            </div>
        </td>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR PACIENTE</h5>
                    <p class="card-text">Cadastar Pacientes</p>
                    <a href="/cadastrarPaciente" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CONSULTAR AGENDAMENTOS</h5>
                    <p class="card-text">Exibir a relação de agedamentos</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CONSULTAR PROTUARIO</h5>
                    <p class="card-text">Exibe informações sobre o prontuário do paciente</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CADASTRAR ENDEREÇO</h5>
                    <p class="card-text">Cadastar endereço antes dos dados pessoais</p>
                    <a href="/cadastrarEndereco" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>Espaço2</td>
        <td>
            Espaço 3
        </td>
    </tr>

</table>


{% endblock%}