{% extends "base.html" %}
{% block content%}
<h3>AGENTE DE SECRETARIA</h3>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Principais Serviços</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR CONSULTAS</h5>
                    <p class="card-text">Agendamento de consulta em diversas especialidades</p>
                    <a href="/agendamento" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR EXAMES</h5>
                    <p class="card-text">Agendamento de exames</p>
                    <a href="#" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">AGENDAR CIRURGIA</h5>
                    <p class="card-text">Agendamento de cirurgias</p>
                    <a href="#" class="btn btn-primary">Iniciar Cadastro</a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">EFETUAR PAGAMENTO</h5>
                    <p class="card-text">FUNÇÃO DE AGENTE DE SERCRETARIA - TESTE</p>
                    <a href="/telapagamento" class="btn btn-primary">Pagar</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">EXIBIR CRONOGRAMA</h5>
                    <p class="card-text">Exibe cronograma de serviços</p>
                    <a href="/cronograma" class="btn btn-primary">Exibir</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue">CONSULTAR AGENDAMENTOS</h5>
                    <p class="card-text">Exibir a relação de agedamentos</p>
                    <a href="/consultarAgendamento" class="btn btn-primary">Consultar</a>
                </div>
            </div>
        </td>
    </tr>
    

</table>


{% endblock%}