{% extends "base.html" %}

{% block content%}
<h3>REGISTRAR PROCEDIMENTO</h3>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Dados do Procedimento</th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <th width="600px">{{formProcedimento.as_p}}</th>
            <th style="position: absolute">
                <input class="btn btn-primary" type="submit" value="Registrar Procedimento">
                <input class="btn btn-primary" type="reset" value="Limpar Formulário">
                <a href="/admsistema" class="btn btn-primary">Voltar</a>
                {% if messages %}
                {% for message in messages %}
                <div class="mensagem" style = 'margin-top:35px'>
                    <strong><font color="red">{{message}}</font></strong>
                </div>
                {% endfor %}
                {% endif %}
            </th>
        </tr>
    </table>

</form>

{% endblock %}