{% extends "base.html" %}

{% block content %}
<h3>Ver Agendamento</h3>
<div id="Agendamento">
    <table class="table" style = "text-align: center; border: 2px solid black" >
        <tr>
            <th scope="col" style = "border: 2px solid black">Procedimento </th>
            <th scope="col" style = "border: 2px solid black">Paciente </th>
            <th scope="col" style = "border: 2px solid black">Data de Agendamento </th>
            <th scope="col" style = "border: 2px solid black">Profissional Responsavel </th>
            <th scope="col" style = "border: 2px solid black">Valor </th>
        </tr>
            <tr>  
                <th style = "border: 2px solid black">{{db2.fk_tipo_procedimento}}</th>
                <th style = "border: 2px solid black">{{db2.fk_paciente}}</th>
                <th style = "border: 2px solid black">{{db2.data_agendamento}}</th>
                <th style = "border: 2px solid black">{{db2.fk_agente_saude}}</th>
                <th style = "border: 2px solid black">R$ {{db2.valor}}</th>
            </tr>

    </table>
    <h3>Observação: {{db.observacao}}</h3> <br>
</div>
<a class="btn btn-primary" type="button"  value="Gerar PDF" onclick="GeraComprovante()">Gerar Comprovante de Agendamento</a>

<script>
    function GeraComprovante() {

        var minhaTabela = document.getElementById('Agendamento').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 20px Calibri;}";
        style = style + "table, th, td {border: solid 2px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";


        var win = window.open('', '', 'height=1000,width=1000');

        win.document.write('<html><head>'); 
        win.document.write('<h1 style = "text-align: center;">Comprovante de Agendamento</h1>');
        win.document.write('<hr> <br>')  // <title> CABEÇALHO DO PDF.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(minhaTabela);
        win.document.write(style);                            // O CONTEUDO DA TABELA DENTRO DA TAG BODY
        win.document.write('</body></html>');
        win.document.close();                                               // FECHA A JANELA
        win.print();   // IMPRIME O CONTEUDO
    }
    </script>
{% endblock%}