<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="{% static 'login.css'%}" rel="stylesheet" type="text/css" />
    <title>{% block title %}CENTRO MÉDICO UFS{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">

      {% block sidebar %}
        <ul class="sidebar-nav">

            {% block foto %}
            <img class="foto" src="{% static '/fotos/man.png' %}" alt="" width="150" height="75"
                       class="d-inline-block align-text-top" align="center">
           {% endblock %}
            {% block usuario %}
            <div class="usuario">
                Usuário
                <br>
            <button onclick="logOut()"> logout </button>


            </div>
            {% endblock %}

            <div class="line"></div>

          <a class="active"  href="/"> <img src="{% static '/icones/botao-home.svg' %}" alt=""  width="20" height="20"> Home</a>
             <a href="#"> <img src="{% static '/icones/consulta.svg' %}" alt=""  width="20" height="20"> Consultas</a>
            <a href="#"> <img src="{% static '/icones/exam.svg' %}" alt=""  width="20" height="20"> Exames</a>
            <a href="#"> <img src="{% static '/icones/surgery.svg' %}" alt=""  width="20" height="20"> Cirurgias</a>
            <a href="#"> <img src="{% static '/icones/pagamento (1).svg' %}" alt=""  width="20" height="20"> Pagamentos</a>
            <a href="#"> <img src="{% static '/icones/calendar.svg' %}" alt=""  width="20" height="20"> Agendamentos</a>
            <a href="#"> <img src="{% static '/icones/rede.svg' %}" alt=""  width="20" height="20"> Cronograma</a>
            <a href="#"> <img src="{% static '/icones/user.svg' %}" alt=""  width="20" height="20"> Pacientes</a>
        </ul>

     {% endblock %}

      </div>

      <div class="col-sm-10 ">
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
              <a class="navbar-brand">
                  <img class="logo" src="{% static '/images/logo_CM_UFS.png' %}" alt="" width="50" height="50"
                       class="d-inline-block align-text-top">
                  CENTRO MÉDICO UFS
              </a>
          </nav>
      <div class="content">
          {% block content %}
          {% endblock %}
      </div>

      </div>

    </div>
  </div>
</body>
</html>